<a href="https://colab.research.google.com/github/Shar2609/skills-introduction-to-github/blob/main/demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#perform power operation on the given value
num = 20
pwr = 4
print(num**pwr)
print(num**4)
res = num**4
print(res)

160000
160000
160000

In [9]:
var1 = 100
var2 = 500

temp = var1
var1 = var2
var = temp
print(temp)
print(var1)
print(var2)

100
500
500
100
500
500

In [15]:
num1 = int( input(" enter a value: "))
num2 = int( input(" enter a value:"))
if num1>num2:
print(num1, "is greater")
else:
print(num2, "is greater")

IndentationError: expected an indented block after 'if' statement on line 3 (<ipython-input-15-39c103c46036>, line 4)

In [16]:
num1 = int( input(" enter a value: "))
num2 = int( input(" enter a value:"))
if num1>num2:
print(num1, "is greater")
else:
print(num2, "is greater")

IndentationError: expected an indented block after 'if' statement on line 3 (<ipython-input-16-39c103c46036>, line 4)

In [19]:
num = int( input(" Enter a value"))
if num % 2 == 0:
  print(num, "is even")
else:
  print(num, "is odd")

 Enter a value56
56 is even

In [20]:
# <= less than equal to operator
# is return true is less than is less than or equal to the other
val1 = 10
val2 = 8
val3 = 8
print(val1 <= val2)
print(val2 <= val3)

False
True

In [21]:
# == equal to operator:
val1 = 10
val2 = 15
print(val1 == val3)

False

In [23]:
#!= not equal to operator:
val1 = 10
val2 = 15
print(val1 != val2)

True

In [24]:
# add and assign
num1 = 10
num2 = 100
num1 += num2
print(num1)
print(num2)

110
100

In [25]:
num3 = 50
num3 *= 2
print(num3)

100

In [26]:
# Q --> use asssignment operators to change the value of given variable
# by performing division, floor div, and power operation
# var1 = take input from user
num1 = 40
num1 /= 2
print(num1)
num1 //=2
print(num1)
num1 **=2
print(num1)

20.0
10.0
100.0